<ion-header [translucent]="true">
</ion-header>

<ion-content color="primary" [fullscreen]="true">
  <header>
    <div class="back" routerLink="/ingreso"><ion-icon name="chevron-back-outline"></ion-icon></div>
  </header>
  

  
<section style="margin-top: 20%;">
  <p class="title2">Comentarios</p>
  
  <ion-item color="primary" *ngFor="let coments of comentariosactuales">
    <ion-avatar slot="start">
      <img src="\assets\img\user.png" />
    </ion-avatar>
    <ion-label>
      <h2>{{coments.nombre}}</h2>
      <p>{{coments.comentario}}</p>
    </ion-label>
  </ion-item>

  <ion-item color="primary" *ngFor="let coments of comentarios">
    <ion-avatar slot="start">
      <img src="\assets\img\user.png" />
    </ion-avatar>
    <ion-label>
      <h2>{{coments.nombre}}</h2>
      <p>{{coments.comentario}}</p>
    </ion-label>
  </ion-item>
  

<form id="myform" [formGroup]="formCreate" (ngSubmit)='formcoment();'>
<p style="text-align: center;">Agrega un comentario</p>
<ion-label>Nombre</ion-label>
<ion-input placeholder="Ingrese su nombre" formControlName="nombre"></ion-input>
<ion-label position="stacked">Comentario</ion-label>
<ion-textarea placeholder="Escribe el comentario" formControlName="comentario"></ion-textarea>
<ion-button type="submit" color="secondary" style="display: block;">Enviar comentario</ion-button>


  
</form>



  </section>
</ion-content>