.back{
    width: 45px;
    height: 40px;
    background-color: #49464651;
    align-items: center;
    margin-left: 3%;
    border-radius: 5px;
    align-content: center;
    justify-content:center;
    display: flex;
    align-content: center;
}

.back:active{
    background-color: black;
}

ion-icon{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    
}



.save{
    background-color: #8F8C8C;
    width: 30px;
    height: 30px;
    
}

header{
    display: flex;
    margin-top: 5%;
    
    
}

iframe{
    margin-left: auto;
    margin-right: auto;
}

.title2{
    color: white;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 350;
    
    
    }

form{
    border-color: white; border: solid; border-radius: 10px; width: 70%;
    margin-top: 5%;
}