<ion-header [translucent]="true">
</ion-header>

<ion-content color="primary" [fullscreen]="true">

  <div style=" height: 16%;">
    <div class="back" routerLink="/ingreso"><ion-icon name="chevron-back-outline"></ion-icon></div>
    <p class="titleprincipal">Tus lugares favoritos</p>
  
  </div>

 <!--
template que se muestra si no hay lugares en favoritos
  --> 
  <ng-template [ngIf]="data.length > 0">
    <div class="parent">
      <div class="div1" *ngFor="let item of data ">
        <ion-card class="card" (click)="slideClick(item.id)"> 
          <img src="{{item.img}}"/>
          <div class="texto-encima">
            <p class="title">{{item.nombre}}</p>
            <p class="delete" (click)="deleteplace(item.id)">Doble click para eliminar de favoritos</p>
          </div>
        </ion-card>
      </div>

    </div>

  </ng-template>

    <ng-template [ngIf]="data.length == 0">
      <div class="nothing">
        <p>Todavia no guardaste ningun lugar <br>Comienza a explorar!</p>
    </div>
    </ng-template>


</ion-content>
