<ion-header [translucent]="true">
</ion-header>

<ion-content color="primary" [fullscreen]="true">
  <div id="fb-root"></div>
<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>

  <header>
    <div style=" margin: 0px auto;">
      <div class="user">
        <ion-icon name="person-circle-outline" style=" height: 55px; width: 55px; margin-right: 15px;" routerLink="/favplaces"></ion-icon>
      </div>
      <p class="text">Explora</p>
      <p class="lugar">Piedra del Aguila</p>
    </div>
  </header>

  <section class="buscador">
    <form>
      <ion-input placeholder="Encuentra lugares para visitar" (ionChange)="searchplace($event)"></ion-input>
    </form>
  </section>

  <section>
    <div class="btn"> 
      <ion-button (click)="verTodo()" [ngClass]="filter == 'todos' ? 'change' : 'disable'">Todos</ion-button> 
      <ion-button (click)="verLagos()" [ngClass]="filter == 'lagos' ? 'change' : 'disable'">Lagos</ion-button> 
      <ion-button (click)="verRios()" [ngClass]="filter == 'rios' ? 'change' : 'disable'">Rios</ion-button> 
      <ion-button (click)="verBares()" [ngClass]="filter == 'bares' ? 'change' : 'disable'">Bares</ion-button> 
      <ion-button (click)="verHoteles()" [ngClass]="filter == 'hoteles' ? 'change' : 'disable'">Hoteles</ion-button> 
      <ion-button (click)="verCamping()" [ngClass]="filter == 'camping' ? 'change' : 'disable'">Camping</ion-button> 
      <ion-button (click)="verRestaurant()" [ngClass]="filter == 'restaurant' ? 'change' : 'disable'">Restaurantes</ion-button> 
      <ion-button (click)="verMiradores()" [ngClass]="filter == 'miradores' ? 'change' : 'disable'">Miradores</ion-button> 
    </div>
  </section>

  <section>

    <div>
      <div class="cardscontain">
        <ion-slides [options]="option">
          <ion-slide *ngFor="let slide of todos">
          <ion-card class="card" (click)="slideClick(slide.id)"> 
            <img src="{{slide.img}}"/>
            <div class="texto-encima">
              <p class="title">{{slide.nombre}}</p>
            </div>
          </ion-card>
          </ion-slide>
        </ion-slides>
        </div>
      </div>



  <p class="title2">Clima</p>

<script type="text/javascript" src="https://www.tutiempo.net/s-widget/l_JeNwLxtBdrMBnGLKKfzDjzzDDUnK14M2LdkYkZC5akDkk1kkk"></script>      
<iframe src="https://www.tutiempo.net/s-widget/full/43227/ca5" scrolling="no" frameborder="0" style="overflow:hidden; width:100%; height:500px;" allowTransparency="true"></iframe>


</section>

<script src="/src/js/data.js"></script>
</ion-content>
