#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-grid{
    width: 100%; 
    height: 449px;
    border-radius: 0px 0px 40px 40px;
    
  }
  
  
  
  ion-title{
    font-family: 'Poppins';
  font-weight: 500;
  font-size: 6vw;
  line-height: 130%;
  }
  
  p{
  font-family: 'Poppins';
  font-size:  calc(1em + 1vw);
  line-height: 30px;
  text-align: center;
  color: #D6D2D2;
  padding-left: 5%;
  padding-right: 5%;
  
  }
  
  .boton{
  width:  80%;
  height:  52px;
  white-space: normal;
  }
  
  
  .abc{
    height: 190px; 
    width: 199px; 
    margin-top: 290px; 
    margin-right:auto; 
    margin-left: auto; 
    border-radius: 68px;
  }
  
  .bca{
    margin-right:auto;
     margin-left: auto; 
     align-items: center;
      text-align: center; 
      margin-top: 50px; 
  }
  
  .final{
    margin-top: 5%; 
    align-items: center;
     text-align: center;
  }